body {
    user-select: none;
}



li {
    list-style: none;
}

.Header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    transition: 1s;
    background-attachment: local;
    background-image:
        linear-gradient(to right, transparent 1%, #fff 20%, #fff 40%, #014f1c10, #52ff4f55), url("./assets/header1.svg");
    background-size: cover;
    color: #000;
    box-shadow: 0 5px 4px #000;
    border-radius: 0 0 45px;
}

.Header-fixed {
    color: #000;
    box-shadow: 0 5px 4px #000;
    border-radius: 0 0 45px;
    background-image:
        linear-gradient(to right, transparent 1%, #fff 20%, #fff 40%, #014f1c50, #52ff4f01), url("./assets/header1.svg");
    position: fixed;
    background-size: cover;
    z-index: 100;
    transition: .6s;
    filter: hue-rotate(-0.8turn);
    width: 100%;
    top: 0;

}

@media (width < 800px) {
    .logo2 {
        width: 100%;
    }
}

@media (width >=800px) {
    .logo2 {
        width: 45%;
    }
}


.card-1 {
    padding: 3px;
    border: none;
    border-radius: 0 0 33px;
    box-shadow: 0 0 6px #000;
}


.navbar-collapse {
    background: #000000df;
    backdrop-filter: blur(3px);
    border-radius: 30px;
    padding-inline: 5px;
}

.navbar-collapse .btn-nav {
    font-size: 19px;
    color: #fff;
    padding: 3px;
    text-decoration: none;
    margin: 2px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.btn-nav{
    border-radius: 30px;
    padding: 4px;
    transition: .3s;
}
.navbar-collapse .btn-nav:hover {
    color: #78f8a9;
}

.navbar-collapse .btn-nav:active {
    background: #ffffff50;
}

.bg-navbar .btn-nav::after {
    display: block;
    background: #fff;
    height: 4px;
    width: auto;
    content: "";
    clip-path: var(--clippy);
    transition: clip-path .5s cubic-bezier(1, 0.8, 0.21, 0.8);
}



#Home {
    margin-top: 90px;
}

::-webkit-scrollbar {
    background: #111;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #78f8e3;
    border: #000 solid 2px;
}

.modal-content {
    background-color: #ffffff55;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 5px #111;
}

.btn-cerrar {
    background: #ffe;
    backdrop-filter: blur(3px);
    border-radius: 0 0 10px;
    padding: 3px;
}

.btn-reservar {
    background: #78f8a9;
    backdrop-filter: blur(3px);
    border-radius: 0 0 10px;
    padding: 3px;

}

.btn:focus,
.btn,
.navbar-toggler:focus,
.btn-close:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.modal-content input {
    outline: none;
    background: #fff;
    padding: 3px;
    border: none;
    border-radius: 0 0 10px 0;
    margin-block: 2px;
}

.modal-content .btn:active {
    transition: .1s;
    color: #fff;
    background-color: #000;
}

.wp {
    position: fixed;
    width: 55px;
    bottom: 3%;
    right: 2%;
    filter: drop-shadow(2px 3px 2px #78f8e3);
}

.Services {
    animation: animation-reverse 0.6s;
    animation-fill-mode: forwards;
    /* visibility: hidden; */
}

.animation {
    transition: 1s;
    animation: animation 1s;
    visibility: visible;
}

@keyframes animation {
    0% {
        position: relative;
        bottom: 50px;
        opacity: 0%;
    }

    100% {
        position: relative;
        bottom: 0px;
        opacity: 100%;
    }
}

@keyframes animation-reverse {
    0% {
        position: relative;
        bottom: 0px;
        opacity: 100%;
    }

    100% {
        position: relative;
        bottom: 50px;
        opacity: 0%;
    }
}

.navbar-toggler {
    border: none;
    opacity: 100%;
}

.navbar-toggler:active {
    rotate: 15%;
    transition: 1s;
    transform: scalex(-13);
}